
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FANTEC - Faculdade Tecnológica</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../../static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header-->
			<header id="header" style="background-color:brown;">
				<a class="logo" href="/">Fantec - Faculdade de Tecnologia | Whatsapp: (11) 98070-3040</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
 
		<!-- Nav-->
			<nav id="menu" style="background-color:brown;">
				<ul class="links">
					<li><a href="/">Início</a></li>
					<li><a href="/cursos">Cursos</a></li>
					<li><a href="/sobre">Sobre Nós</a></li>
					<li><a href="/contato">Contato</a></li>
					<li><a href="/acesso">Página de Acesso</a></li>
				</ul>
			</nav>
	
		<!-- Banner 
			<section id="banner">
				<div class="inner">
					<h1>Rede União Farma Kemel II</h1>
					<p>A farmácia da sua família!</p>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>-->

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<!--<h2>Rede União Farma Cidade Kemel II</h2>-->
						<img src="../../static/images/logo_uniao_farma_inverted.png" alt="Logo Fantec" />
						<!-- <br/><br/><br/> -->
						<!-- <p>Confira nossas promoções:</p> -->
					</header>
					
					<section id="main" class="wrapper">
						<div class="inner">
							<div class="content">
								<header>

									<h2>Redes de Computadores</h2>
								</header> 
								<p> <strong> Duração do curso: </strong> 4 anos </p>
								<p>É ministrado em um ambiente que simula uma empresa real, com computadores (SO Linux e Windows), roteadores, switches, cabeamento e demais equipamentos, trazendo a vivência que você precisa para ser competitivo no mercado de trabalho.</p>
								<p>Você vai aprender a dimensionar o uso de equipamentos multiusuários. Configurar acesso e disponibilidade para internet e intranet, roteadores e provedores. Trabalhar com sistemas de gerenciamento de redes, sistemas operacionais e simulação de ambiente de Cloud Computing. E com os novos conhecimentos sobre hardware, software e modos de funcionamento, também vai ser capaz de otimizar o desempenho dos computadores, adequando a estrutura física ao seu potencial de produção, o que aumenta o desempenho. Tudo isso de acordo com as regras de segurança.</p>
 
						                 <hr />
								<h3>O Mercado de Trabalho</h3>
								<p>A procura por profissionais desta área só cresce. De acordo com a Softex, até 2020 o Brasil terá um déficit de cerca de 480 mil profissionais de tecnologia da informação (TI). Portanto, há um mar de oportunidades a ser desbravado por quem se preparar.<br>As principais áreas de atuação são: Analista de Redes, Supervisor de Redes de Computadores, Supervisor Técnico em Configuração e Manutenção de Redes de Computadores, Gerente de Suporte de Redes, Arquiteto de Redes Fixas e Redes Móveis, Administrador de Sistemas Operacionais e Analista de Segurança de Redes.</p>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- CTA 
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Curabitur ullamcorper ultricies</h2>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</div>
			</section>
-->
		<!-- Testimonials 
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
-->
		<!-- Footer --> 
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>FANTEC - Faculdade Nacional de Tecnologia</h3>
						<p>FANTEC 2018.<br/><br/>Todos os direitos reservados.</p>
					</section>
					<section>
						<h4>A Faculdade</h4>
						<ul class="alt">
							<li><a href="/sobre">Sobre Nós</a></li>
							<li><a href="/contato">Contato</a></li>
							<li><a href="/cursos">Cursos</a></li>
						</ul>
					</section>
					
					<section>
						<h4>Nos siga nas redes sociais!</h4>
						<ul class="plain">
							<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
							<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
							<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; Fantec - Faculdade Nacional de Tecnologia
				</div>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="../../static/js/jquery.min.js"></script>
			<script src="../../static/js/browser.min.js"></script>
			<script src="../../static/js/breakpoints.min.js"></script>
			<script src="../../static/js/util.js"></script>
			<script src="../../static/js/main.js"></script>

	</body></html>

